@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.ibm-plex-sans{
  font-family: "IBM Plex Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7f9fa;
}

.card-container {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 24px;
    gap: 80px;
}

.card-container .card-header {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.card-header .svg-title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.svg-title-wrap .svg-circle {
    padding: 10px;
    background: hsla(246, 80%, 60%, 1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg-title-wrap > span {
    font-size: 30px;
    letter-spacing: 1.5px;
}

.card-header > span { 
    opacity: 50%; 
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
}

.card-body {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
}

.input-wrapper {
    width: 100%;
    height: auto;
    position: relative;
}

.input-wrapper .svg-show-token, 
.input-wrapper .svg-hide-token {
    position: absolute;
    right: 12px;
    top: 12px;
    cursor: pointer;
    transition: .5s;
    display: none;
}

.input-wrapper .is-active {
    display: block;
}

.input-wrapper .svg-show-token:hover path, .svg-hide-token:hover path{
    stroke: hsla(246, 80%, 60%, 1) !important;
    stroke-width: 2.5px;
}



.card-body .token-field {
    width: 100%;
    padding: 12px;
    border-radius: 12px;
    border: 2px solid #e1e7efcc;
    transition: .5s;
    cursor: pointer;
    font-size: 14px;
}

.token-field:hover {
    border-color: hsla(246, 80%, 60%, 1);
}


.card-body button {
    width: 100%;
    background: hsla(246, 80%, 60%, 1);
    padding: 15px;
    border-radius: 12px;
    border: none;
    outline: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: .3s;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


.card-container button:hover { opacity: 50%; }

@media screen and (max-width: 600px) {
    body {
        display: block;
        height: auto;
        background: white;
    }

    /* 2. Trasforma la card in una pagina intera */
    .card-container {
        width: 100vw !important;
        min-height: 100vh !important;
        max-width: none !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        padding: 40px 20px !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 60px;
        align-items: center;
    }
    .card-body, .input-wrapper, .token-field, .card-body button {
        width: 100% !important;
    }

    .svg-title-wrap > span {
        font-size: 26px;
    }
}
